.a{
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.a:hover{
    height: 30px;
    width: 30px;   
    transition: width 3s, height 3s;
    background-color: yellow;
}